/* Projects.css */
.projects-container {
    background-color: #008080; 
    color: #000000; 
    padding: 20px; 
    border-radius: 8px; 
    max-width: 800px; 
    margin: 20px auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.projects-container h2 {
    color: #000000; 
}

.projects-container ul {
    list-style-type: none; 
    margin: 10px 0; 
    padding: 0; 
}

.projects-container li {
    margin-bottom: 15px; 
}

.projects-container li h3 {
    margin: 0; 
}

.projects-container li p {
    line-height: 1.6; 
}
